.back_button {
  background-color: #6d91fc;
  text-align: center;
}

.button_plus {
  background-color: #6d91fc;
}

body {
  margin: 0;
}

img {
  object-fit: contain;
  width: 100%;
  max-width: 100%;
}

a {
  color: black;
  text-decoration: none;
  font-family: "Big Shoulders Display", cursive;
  font-size: 1.5rem;
  transition: 0.5s;
}

h4 {
  font-size: 1.5em;
  margin: 0;
}

h1, h2 {
  font-size: 1.5em;
  font-family: "Big Shoulders Display", cursive;
}

p {
  font-family: "Big Shoulders Display", cursive;
}

li {
  list-style-type: none;
}

button {
  background-color: #6d91fc;
}

.header_container {
  background-color: #90b0fc;
  min-height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 0 2em;
  min-height: 10vh;
}
.header_container a {
  color: white;
}

.header_title {
  display: flex;
  position: relative;
  z-index: 2;
}
.header_title.open {
  display: none;
}
.header_title p {
  font-size: 2rem;
  margin: 0px;
}

.header_logo {
  max-height: 100%;
}
@media screen and (max-width: 300px) {
  .header_logo {
    max-width: 90%;
  }
}

.logo {
  color: white;
}

@media screen and (max-width: 900px) {
  .menu-btn {
    position: absolute;
    z-index: 10;
    right: 3rem;
    top: 2rem;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
  }

  .menu-btn_burger {
    min-width: 50px;
    min-height: 6px;
    background-color: white;
    border-radius: 5px;
  }

  .menu-btn_burger::before,
.menu-btn_burger::after {
    content: "";
    position: absolute;
    min-width: 50px;
    min-height: 6px;
    background-color: white;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }

  .menu-btn_burger::before {
    transform: translateY(-16px);
  }

  .menu-btn_burger::after {
    transform: translateY(16px);
  }

  /* ANIMATION */
  .menu-btn.open .menu-btn_burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }

  .menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }

  .menu-btn.open .menu-btn_burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }

  .header_nav {
    display: none;
  }

  .header_nav.open {
    width: 100vw;
    opacity: 0.98;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background: #6d91fc;
    list-style-type: none;
  }
  .header_nav.open .header_link a {
    margin-left: 0px;
  }
  .header_nav.open .header_link a i {
    margin-bottom: 1em;
    font-size: 3rem;
  }
}
@media screen and (max-width: 899px) {
  .header_link {
    text-align: center;
  }
}
.header_link a {
  display: block;
  margin-left: 2em;
  text-decoration: none;
}
.header_link a:hover {
  color: #6d91fc;
}

@media screen and (min-width: 900px) {
  .header_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3em;
  }

  .header_link {
    display: flex;
    align-self: center;
  }
  .header_link a {
    display: block;
  }
  .header_link a i {
    font-size: 2rem;
  }

  .menu-btn {
    display: none;
  }
}
.footer_container {
  background-color: #6d91fc;
  color: black;
  padding-top: 2em;
  padding-bottom: 2em;
}
@media screen and (max-width: 900px) {
  .footer_container {
    display: flex;
    flex-direction: column;
  }
  .footer_container .footer_logo {
    max-height: 100%;
    max-width: 100px;
  }
  .footer_container .foot_social {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 0 auto;
    justify-content: center;
  }
  .footer_container .foot_social a {
    margin-left: 0.5em;
    font-size: 2rem;
  }
  .footer_container .foot_social a:hover {
    color: #6d91fc;
  }
  .footer_container .blocko {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
  }
  .footer_container .blocko a {
    font-size: 1.2rem;
  }
  .footer_container .blocko a:hover {
    color: #6d91fc;
  }
  .footer_container .blocko h4 {
    font-size: 1.5rem;
    font-family: "Big Shoulders Display", cursive;
    text-shadow: -0.01em 0.01em #6d91fc;
  }
}
@media screen and (min-width: 900px) {
  .footer_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .footer_container .footer_logo {
    max-height: 100%;
    max-width: 200px;
  }
  .footer_container .foot_social {
    display: flex;
    flex-direction: row;
  }
  .footer_container .foot_social a {
    margin-left: 0.5em;
  }
  .footer_container .foot_social .fab {
    font-size: 1.5rem;
  }
  .footer_container .foot_social .fab:hover {
    color: #6d91fc;
  }
  .footer_container .foot_block {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .footer_container .foot_block a {
    margin-top: 0.5em;
    text-align: left;
    font-size: 1.2rem;
    color: white;
  }
  .footer_container .foot_block a:hover {
    color: #6d91fc;
  }
  .footer_container .foot_block h4 {
    text-align: left;
    font-family: "Big Shoulders Display", cursive;
    font-size: 1.5rem;
    text-shadow: -0.01em 0.01em #6d91fc;
  }
  .footer_container .foot_block:nth-child(1) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-basis: 50%;
  }
  .footer_container .foot_block:nth-child(2) {
    flex-basis: 18%;
    flex-direction: column;
  }
  .footer_container .foot_block:nth-child(3) {
    flex-basis: 18%;
    flex-direction: column;
  }
  .footer_container .foot_block:nth-child(4) {
    flex-basis: 18%;
    flex-direction: column;
  }
}
.footer_container .foot_block {
  text-align: center;
}
.footer_container a {
  color: white;
}

.leftfoot {
  background-color: #b1b1ee;
  align-items: baseline;
}

.foot_logo p {
  color: white;
}

.accueil_container_general {
  min-height: 100vh;
  margin-top: 0;
}

.accueil_main {
  background-image: url("images/blue.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  height: 100vh;
  min-height: 80vh;
  display: flex;
}
@media screen and (max-width: 900px) {
  .accueil_main {
    min-height: 90vh;
  }
}
@media screen and (min-width: 900px) {
  .accueil_main {
    min-height: 90vh;
  }
}

.main_welcome {
  margin-top: 5%;
  margin-left: 5%;
  font-size: 3rem;
  color: white;
}
.main_welcome a {
  font-size: 1.5rem;
  background-color: #73a8f6;
  width: fit-content;
  padding: 0.5em 1em;
  border-radius: 20px;
  box-shadow: 0 8px 6px -6px #5e5e5e;
}
.main_welcome a:hover {
  background-color: white;
}

.formpage_container_general {
  margin-bottom: 10em;
}

.formpage_main {
  margin: auto;
}
@media screen and (min-width: 900px) {
  .formpage_main {
    width: 100%;
    height: 100%;
    margin-top: 5em;
  }
}

.formpage_main_form {
  display: flex;
  flex-direction: row;
  max-width: 700px;
  margin: 2rem;
  border-radius: 1.5em;
  box-shadow: 0 8px 6px -6px #ccc, 8px 0px 6px -6px #ccc, 0px -2px 6px -6px #ccc;
}
@media screen and (max-width: 900px) {
  .formpage_main_form {
    flex-direction: column;
    padding: 3em;
  }
}
@media screen and (min-width: 900px) {
  .formpage_main_form {
    margin: auto;
    min-height: 600px;
    align-items: center;
  }
}

.formpage_main_form_img {
  max-width: 100%;
}
.formpage_main_form_img img {
  border-radius: 0 20px 20px 0;
}
@media screen and (max-width: 900px) {
  .formpage_main_form_img img {
    max-width: 100%;
    max-height: 250px;
    object-fit: contain;
  }
}
@media screen and (min-width: 900px) {
  .formpage_main_form_img {
    width: 50%;
  }
}

.formpage_form_input h2 {
  text-align: center;
  font-size: 2.5rem;
}
@media screen and (max-width: 900px) {
  .formpage_form_input {
    display: flex;
    flex-direction: column;
    margin: auto;
    min-width: 30%;
  }
}
@media screen and (min-width: 900px) {
  .formpage_form_input {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
}

.formpage_block_standard {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 900px) {
  .formpage_block_standard {
    min-width: 200px;
    max-width: 200px;
    margin: auto;
  }
}
.formpage_block_standard label {
  margin-bottom: 0.5em;
  font-family: "Big Shoulders Display", cursive;
  font-size: 1.3rem;
}
.formpage_block_standard input {
  border: 0.15em solid black;
  border-radius: 1.5em;
  box-shadow: 0.1em 0.1em 0.5em 0.01em #000000ae;
  min-height: 25px;
}

.formpage_boutton {
  background-color: black;
  box-shadow: 0.1em 0.1em 0.5em 0.01em #000000ae;
  color: white;
  border: none;
  border-radius: 1.5em;
  min-height: 35px;
  font-family: "Big Shoulders Display", cursive;
  font-size: 1.2rem;
  letter-spacing: 0.04em;
}
@media screen and (min-width: 900px) {
  .formpage_boutton {
    min-height: 40px;
    min-width: 200px;
    max-width: 200px;
    margin: auto;
  }
}
.formpage_boutton:hover {
  background-color: #6d91fc;
  cursor: pointer;
}

.produits_container_general {
  margin-bottom: 10em;
}

.produits_container_main {
  display: flex;
  flex-direction: column;
  margin: 0.5em;
}

.produits_filtres {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: auto;
}
@media screen and (max-width: 480px) {
  .produits_filtres {
    flex-direction: column;
    align-items: center;
  }
}

.produits_filtres--types {
  box-shadow: 0 8px 6px -6px #ccc, 8px 0px 6px -6px #ccc, 0px -2px 6px -6px #ccc;
  box-shadow: 0 8px 6px -6px #ccc, 8px 0px 6px -6px #ccc, 0px -2px 6px -6px #ccc;
  border-radius: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
  font-family: "Big Shoulders Display", cursive;
  background-color: white;
  position: relative;
  z-index: 1000;
  height: 50%;
  padding: 0.5rem;
  min-width: 55px;
}
.produits_filtres--types p {
  margin: 0;
}
.produits_filtres--types:hover {
  background-color: #6d91fc;
}
@media screen and (max-width: 480px) {
  .produits_filtres--types {
    margin-bottom: 1rem;
  }
}

.produits_filtres_types_dropdown {
  display: none;
  min-width: fit-content;
  background-color: white;
}
.produits_filtres_types_dropdown a:hover {
  color: #6d91fc;
}

.produits_filtres_types_dropdown.active {
  padding: 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  left: 0;
  top: 100%;
  border-radius: 10px;
}

.produits_filtres--regions {
  border-radius: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
  font-family: "Big Shoulders Display", cursive;
  position: relative;
  z-index: 10;
  height: 50%;
  padding: 0.5rem;
  min-width: 55px;
  margin-left: 1rem;
}
.produits_filtres--regions p {
  margin: 0;
}
.produits_filtres--regions:hover {
  background-color: #6d91fc;
}
@media screen and (max-width: 480px) {
  .produits_filtres--regions {
    margin-bottom: 1rem;
    margin-left: 0;
  }
}

.produits_filtres_regions_dropdown {
  display: none;
  background-color: white;
  min-width: fit-content;
}
.produits_filtres_regions_dropdown a:hover {
  color: #6d91fc;
}

.produits_filtres_regions_dropdown.active {
  padding: 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  left: 0;
  top: 100%;
  border-radius: 10px;
}

.produits_filtres--supprimer {
  margin-bottom: 1rem;
  box-shadow: 0 8px 6px -6px #ccc, 8px 0px 6px -6px #ccc, 0px -2px 6px -6px #ccc;
  border-radius: 10px;
  margin-left: 1rem;
  text-align: center;
  padding: 0.5rem;
  min-width: 55px;
}
.produits_filtres--supprimer:hover {
  background-color: #6d91fc;
}
@media screen and (max-width: 480px) {
  .produits_filtres--supprimer {
    margin-left: 0;
  }
}

.produits_liste {
  margin-bottom: 3rem;
  margin-top: 3em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.produits_article {
  display: flex;
  flex-direction: column;
  flex-basis: 80%;
  min-height: 650px;
  max-height: 700px;
  max-width: 400px;
  box-shadow: 0 8px 6px -6px #ccc, 8px 0px 6px -6px #ccc, 0px -2px 6px -6px #ccc;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.produits_article_image {
  height: 60%;
}

.produits_image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.produits_article_contenu {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.produits_article_contenu h4 {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-family: "Big Shoulders Display", cursive;
}
.produits_article_contenu p {
  font-size: 1.2rem;
}

.produits_article_contenu_top {
  max-height: 65%;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

.produits_article_contenu_bottom {
  height: 35%;
  max-height: 35%;
}

.produits_article_cat {
  text-align: right;
  font-style: italic;
  margin: 0;
}

.produits_article_region {
  text-align: right;
  margin: 0;
}

.produits_article_description {
  max-width: 80%;
  margin: 0;
  padding-top: 0.2em;
}

.produits_article_prix {
  text-align: center;
  margin: 0;
  margin-top: 0.5rem;
  font-weight: bold;
}

.produits_article_form {
  text-align: center;
  margin-top: 0.5rem;
}
.produits_article_form button {
  background-color: black;
  box-shadow: 0 8px 6px -6px #ccc, 8px 0px 6px -6px #ccc, 0px -2px 6px -6px #ccc;
  color: white;
  border: none;
  border-radius: 1.5em;
  font-family: "Big Shoulders Display", cursive;
  font-size: 1.3rem;
  letter-spacing: 0.04em;
  padding: 0.5rem 1.4rem;
}
.produits_article_form button:hover {
  background-color: #6d91fc;
  cursor: pointer;
}

.produits_panier_success {
  border-radius: 1.5em;
  box-shadow: 0 8px 6px -6px #ccc, 8px 0px 6px -6px #ccc, 0px -2px 6px -6px #ccc;
  padding: 0.5em;
  font-family: "Big Shoulders Display", cursive;
  margin-bottom: 0.5rem;
  padding: 0.5em;
  max-width: 900px;
}
.produits_panier_success p {
  text-align: center;
  font-size: 1.5rem;
}

.panier_container {
  border-radius: 1.5em;
  box-shadow: 0 8px 6px -6px #ccc, 8px 0px 6px -6px #ccc, 0px -2px 6px -6px #ccc;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.panier_container_top {
  display: flex;
  flex-direction: column;
}

.panier_each-product {
  display: flex;
}

.panier_each_title {
  min-width: 65px;
  padding-left: 0.5em;
}

.panier_each_other {
  font-size: 1rem;
  font-family: "Big Shoulders Display", cursive;
  min-width: 30px;
}
.panier_each_other a {
  font-size: 1rem;
  font-family: "Big Shoulders Display", cursive;
}

.panier_each_other:nth-child(3) {
  margin-left: 1em;
}
.panier_each_other:last-child {
  margin-left: 1em;
}

.panier_validate {
  padding-left: 1em;
  padding-bottom: 0.5em;
}

.affichage_message {
  margin-top: 0px;
  margin-bottom: 0px;
}

.container_admin_user {
  min-height: 100vh;
}

.admin_user_inside {
  border: 2px solid black;
  margin: auto;
}

.table_adminUser tr td {
  border: solid 2px #6d91fc;
}

.table_adminUser {
  border-collapse: collapse;
  margin: auto;
}

.container_user_update {
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #6d91fc;
}

.container_admin {
  min-height: 100vh;
}

.panel_first {
  width: 50%;
  border: 2px solid #6d91fc;
  margin: auto;
  margin-top: 10em;
  padding: 2em;
  text-align: center;
}

.title_admin_produit {
  text-align: center;
}

.table_adminProduit {
  border-collapse: collapse;
  max-width: 900px;
  margin: auto;
}

.table_adminProduit td {
  border: 3px solid #6d91fc;
}

.container_add_product {
  border: 2px solid #6d91fc;
  max-width: 300px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form_add_product {
  display: flex;
  flex-direction: column;
}

.messages_admin_add {
  text-align: center;
}

.container_delete_ask {
  display: flex;
  flex-direction: column;
}
.container_delete_ask h3 {
  margin-bottom: 0px;
  text-align: center;
}
.container_delete_ask form {
  margin: auto;
}

.main_categories {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main_container_categories {
  margin-top: 2em;
  overflow-x: auto;
}

.categories_form {
  margin-top: 1em;
}

.form_categories td {
  border: 2px solid #6d91fc;
}

.form_categories {
  border-collapse: collapse;
}

.containe_update {
  background-color: #6d91fc;
  overflow-x: auto;
}

.main_checkout {
  min-height: 100vh;
}

.title_recapitulatif {
  text-align: center;
}

.custom_panier_checkout {
  max-width: 900px;
  width: fit-content;
  padding: 2em;
  margin: auto;
}

.passage_paiement {
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.form_paiement label {
  font-size: 1.5rem;
}

.label_payer {
  font-family: "Big Shoulders Display", cursive;
}

.card_paiement_container {
  border: 1px solid black;
  margin-right: 0.5em;
  border-radius: 20px;
  padding: 0.5em;
}

.paiement_custom_form {
  padding-bottom: 1em;
  margin-bottom: 2em;
}

.container_search_bare {
  border-radius: 1.5em;
  box-shadow: 0 8px 6px -6px #ccc, 8px 0px 6px -6px #ccc, 0px -2px 6px -6px #ccc;
  padding: 0.5em;
  font-family: "Big Shoulders Display", cursive;
  margin-bottom: 0.5rem;
  padding: 0.5em;
  width: fit-content;
  max-width: 900px;
  margin-top: 1em;
}

.search_button {
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 0.5em;
}

.search_bare_input {
  margin: 0.5em;
  border-radius: 10px;
}

.form2_product {
  overflow-x: auto;
  min-height: 100vh;
}

.table_product_update td {
  border: 1px solid black;
}

.table_product_update {
  border-collapse: collapse;
}

.img_src_display {
  object-fit: contain;
  width: 100px;
  max-width: 200px;
}

.table_product_update {
  background-color: #6d91fc;
  margin: 0 auto;
}

.produits_panier--cookie {
  background-color: #a06917;
}

.margin_between {
  margin-bottom: 1em;
}

.format_image-profil {
  border-radius: 3em;
  padding: 1em;
  margin-left: 1em;
}

.format_image_profil {
  margin: auto;
  max-width: 100%;
}

/*# sourceMappingURL=style.css.map */
