.main_checkout {
    min-height: 100vh;
}
.title_recapitulatif{
    text-align: center;
}
.custom_panier_checkout{
    max-width: 900px;
    width: fit-content;
    padding: 2em;
    margin: auto;
}
.passage_paiement {
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
.form_paiement{

    label {
        font-size: 1.5rem;
    }

}

.label_payer {
	font-family: $mainFont;
}