.formpage_container_general {
    margin-bottom: 10em;
    
}
.formpage_main {
    margin: auto;

    @media screen and (min-width: 900px) {
        width: 100%;
        height: 100%;
        margin-top: 5em;
      }
}
.formpage_main_form {
    display: flex;
    flex-direction: row;
   
    max-width: 700px;
    
    margin: 2rem;

    border-radius: 1.5em;
    box-shadow: 0 8px 6px -6px #ccc,  8px 0px 6px -6px #ccc, 0px -2px 6px -6px #ccc;

    @media screen and (max-width: 900px) {
       flex-direction: column;
       padding: 3em;
       
    }
    @media screen and (min-width: 900px) {
       margin: auto;
        min-height: 600px;
        align-items: center;
     }
}
.formpage_main_form_img  {
    max-width: 100%;

    img {
        border-radius: 0 20px 20px 0;

        @media screen and (max-width: 900px) {
            
             max-width: 100%;
             max-height: 250px;
          
             object-fit: contain;
            
         }
        
    }

    @media screen and (min-width: 900px) {
        width: 50%;
      
      }
}
.formpage_form_input {

    h2 {
        text-align: center;
        font-size: 2.5rem;
        
    }
    @media screen and (max-width: 900px) {

        display: flex;
        flex-direction: column;
        margin: auto;
        min-width: 30%;
    }
    @media screen and (min-width: 900px) {
       width: 50%;
       display: flex;
       flex-direction: column;
       }
}
.formpage_block_standard {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 900px) {
        min-width: 200px;
        max-width: 200px;
        margin: auto;
        }
    
    label {
        margin-bottom: 0.5em;
        font-family: $mainFont;
        font-size: 1.3rem;
    }

    input {
        border: 0.15em solid black;
        border-radius: 1.5em;
        box-shadow: 0.1em 0.1em 0.5em 0.01em #000000ae;

        min-height: 25px;

    }
}

.formpage_boutton {
    background-color: black;
    box-shadow: 0.1em 0.1em 0.5em 0.01em #000000ae;

    color:white;
    border: none;
    border-radius: 1.5em;
    min-height: 35px;
    font-family: $mainFont;
    font-size: 1.2rem;
    letter-spacing: 0.04em;

    @media screen and (min-width: 900px) {
        min-height: 40px;
       
        min-width: 200px;
        max-width: 200px;
        margin: auto;
        }

    &:hover {
        background-color: $colormain;
        cursor: pointer;
    }


}
