.card_paiement_container{
    border: 1px solid black;
    margin-right: 0.5em;
    border-radius: 20px;
    padding: 0.5em;
}
.paiement_custom_form {
    padding-bottom: 1em;
    margin-bottom: 2em;
}
