
.produits_panier_success {
    border-radius: 1.5em;
    box-shadow: 0 8px 6px -6px #ccc,  8px 0px 6px -6px #ccc, 0px -2px 6px -6px #ccc;

    padding: 0.5em;
    font-family: $mainFont;
    margin-bottom: 0.5rem;
    padding: 0.5em;
    max-width: 900px;

    p {
        text-align: center;
        font-size: 1.5rem;
    }
}

.panier_container {
    border-radius: 1.5em;
    box-shadow: 0 8px 6px -6px #ccc,  8px 0px 6px -6px #ccc, 0px -2px 6px -6px #ccc;


    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}
.panier_container_top {
   
    display: flex;
    flex-direction: column;
}
.panier_each-product {
    display: flex;
   

}
.panier_each_title {
  
        min-width: 65px;
        padding-left: 0.5em;
    
}
.panier_each_other {
    font-size: 1rem;
    font-family: $mainFont;
    min-width: 30px;

    a {
        font-size: 1rem;
        font-family: $mainFont;
    }
}
.panier_each_other {
    &:nth-child(3) {
        margin-left: 1em;
    }
    &:last-child {
        margin-left: 1em;
    }
}   
.panier_validate {
    padding-left: 1em;
    padding-bottom: 0.5em;
}
.affichage_message {
    margin-top: 0px;
    margin-bottom: 0px;
   
}